<!DOCTYPE html>
<html>
<head>
    <title>MongoDB Collection Data</title>
</head>
<body>
    <h1>MongoDB Collection Data</h1>

    {% if collection %}
    <table border="1">
        <tr>
            <th>Platform</th>
            <th>URL</th>
        </tr>
        {% for document in collection %}
        <tr>
            <td>{{ document["platform"] }}</td>
            <td>{{ document["url"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No data found in the collection.</p>
    {% endif %}

    <p>enjoy :)!</p>
</body>
</html>
